<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="UTF-8"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_one/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Amadon index page</title>
  </head>
  <body>

    <div class = "wrapper">
      <h2>Welcome to Amadon Store!</h2>

      <div class = "orderitems">
        <table width=15%>
          <thead>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>

            {% for product in products %}

              <form action = "/process_order" method = "POST">
                {% csrf_token %}
                <td height="40">{{ product.name }}</td>
                <td>${{ product.price }}</td>
                <!-- item is the id number of the Product object -->
                <!-- there are 4 products: tshirt, sweater, cup and book -->
                <td><input type="hidden" name="item" value="{{ product.id }}">
                <select name="quantity">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select></td>
                <td><input type="submit" value="Buy!"></td>
              </form>
            </tr>
            {% endfor %}
          </tbody>
        </table>

  </body>
</html>
